# ScalarDL Trial License Key (JSON format)
SCALAR_DL_LICENSING_LICENSE_KEY={"organization_name":"...","expiration_date_time":"...","product_name":"ScalarDL Ledger","product_version":"3","license_type":"trial","signature":"..."}

# GitHub Container Registry credentials
CR_PAT=ghp_xxxxxxxxxxxx
